{% extends "base.html" %}

{% block content %}
<h2>Book List</h2>
<form method="GET" action="{{ url_for('index') }}">
    <label for="author">Author:</label>
    <input type="text" id="author" name="author" value="{{ author }}">
    
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="{{ title }}">
    
    <label for="genre">Genre:</label>
    <input type="text" id="genre" name="genre" value="{{ genre }}">
    
    <button type="submit">Filter</button>
</form>
<table>
    <thead>
        <tr>
            <th>Author</th>
            <th>Title</th>
            <th>Price</th>
            <th>Genre</th>
            <th>Age Group</th>
            <th>Book Code</th>
            <th>Acc Num</th>
            <th>Date of Addition</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.author }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.price }}</td>
            <td>{{ book.genre }}</td>
            <td>{{ book.age_group }}</td>
            <td>{{ book.book_code }}</td>
            <td>{{ book.acc_num }}</td>
            <td>{{ book.date_of_addition }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
